body {
  background: linear-gradient(135deg, #f0f4ff, #e8ffe8);
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.calculator {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.result {
  font-size: 1.3rem;
  font-weight: bold;
  color: #007b5e;
}

#footer {
  text-align: center
}
